site/modelo.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="importacao">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nota" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="rps_numero">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="rps_data">
                                <xs:simpleType>
                                    <xs:restriction base="xs:date"/>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tomador_nome">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="200"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tomador_cnpjcpf">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="14"/>
                                        <xs:maxLength value="18"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tomador_inscrmunicipal">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tomador_logradouro">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="200"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tomador_numero">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="15"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tomador_complemento">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tomador_bairro">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tomador_cep">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="9"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tomador_municipio">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tomador_uf">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>	
                            </xs:element>
                            <xs:element name="tomador_email">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>	
                            </xs:element>
                            <xs:element name="valortotal">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="deducoes">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="acrescimo">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="basecalculo">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="aliqpercentual">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="4"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="valoriss">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="issretido">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="cofins">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="irrf">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="contribuicaosocial">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="pispasep">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="inss">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="totalretencoes">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="10"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>    
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="estado">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="N"/>
                                        <xs:enumeration value="C"/>				
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="discriminacao">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="35535"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="observacoes">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="35535"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="motivocancelamento">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="35535"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="codservico">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>